

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
}

body{
    min-height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    background-color: #F2F2F2;
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 250vh;
    width: 75%;
    border-radius: 15px;
    filter: drop-shadow(0 0 10px  rgba(0, 0, 0, 0.5));
    
}

.accordion{
    position: relative;
    width: 100%;
    margin-left: 2.2vw;
    display: flex;
    flex-direction: row;
}
.accordion2{
    position: relative;
    width: 100%;
    margin-right: 2.2vw;
    display: flex;
    flex-direction: row-reverse;
}

.title{
    margin-top: 4.5vh;
    font-size: 2.5rem;
    text-align: center;
}

.content-accordion{
    width: 50%;
    margin-top: 13vh;
    margin-left: 2vw;
}
.content-accordion2{
    width: 50%;
    margin-top: 13vh;
    margin-right: 2vw;
}

.question-answer{
    width: 100%;
    border-bottom: 2px solid grey;
    margin-bottom: 5.4vh;
}
.question-answer2{
    width: 100%;
    border-bottom: 2px solid grey;
    margin-bottom: 5.4vh;
}

.question{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2vh;
}

.faq-img{
    position: relative;
    width: 40%;
}
.faq-img2{
    position: relative;
    width: 40%;
    margin-right: 2vw;
}

.accordion-img{
    width: 100%;
}
.accordion-img2{
    width: 100%;
}

.title-question{
    margin: 1,4rem 0rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.up-icon{
    display: none;
}

.answer{
    font-size: 1.2rem;
    display: none;
}

.show-text .answer{
    display: block;
}

.show-text .up-icon{
    display: inline;
}

.show-text .down-icon {
    display: none;
}



/* @media screen and (min-width: 992px){
    .accordion{
        width: 920px;
        height: 0;
        display: flex;
    }

    .accordion-img{
        position: relative;
        width: 420px;
        top: 88px;
    }

    .question-answer{
        width: 380px;
    }

    .content-accordion{
        margin-top: 85px;
    }

    .title{
        margin-top: 50px;
        font-size: 3rem;
    }
} */
