*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;

}

.total{
    height: 250vh;
}

.start{
    display: flex;
    justify-content: center;
    font-size: 2.15rem;
}

.start-tips{
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.section1{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;
    margin-left: 9.5vw;
    background-color: #F2F2F2;
    filter: drop-shadow(0 0 10px  rgba(0, 0, 0, 0.5));
    margin-bottom: 8.5vh;

}

.section1-heading{
    font-size: 1.75rem;
    padding-top: 3vh;
    padding-left: 5vh;
}

.section1-crux{
    display: flex;
}

.section1-content{
    padding-top: 4vh;
    font-size: 1.4rem;
    padding-left: 5vh;
    padding-right: 4vh;
    text-align: justify;
}

.section1-img{
    width: 42vh;
    height: 28vh;
    padding-bottom: 2vh;
    padding-right: 3vh;
}
