@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-size: 4rem;
    color: #483838;
    padding: 3%;
}
body {
    background: rgb(247,246,220);

    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    border-color: #FEE715FF;
}

.container{
    border-radius: 4rem;
}

.fldset{
    border: 0.5rem solid orange;
    padding: 2.5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
}
.fldset legend{
    font-size: 40px;
    font-weight: bolder;
    /* color: ; */
}
.personal {
    font-size: 1.7rem;
    border: none;
    border-bottom: 0.2rem solid #FEE715FF;
    background-color: transparent;
    color: grey;
    font-family: monospace;
}
.gender{
    font-size: 1.7rem;
    border: none;
    border-bottom: 0.2rem solid #FEE715FF;
    background-color: transparent;
    color: grey;
    font-family: monospace;
}
.rad{
    font-size: 1.7rem;
    display:inline;
    color: grey;
    padding: 2%;
}
.personal:focus{
    outline: none;
    border-bottom: 0.2rem solid #FEE715FF;
    font-size: 2.2rem;
}
.personal input[type=text], input[type=email]{
    margin: 4%;
}
.head_dept{
    font-size: 28px;
    font-weight: bolder;
    color: #8758FF;
}

.acad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    font-size: 25px;
    padding: 1%;
    color: #E3B448;
}
.acad input[type=radio]{
    border: 2px solid yellow;
}
.button{
    margin: 1%;
    padding: 0.9%;
    border-radius: 15px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bolder;
    /* background-color: #CBD18F; */
    background-color: #5CB8E4;
}
.button:hover{
    /* background-color: #8758FF; */
    background-color: orange;
    color:  black;
    border: 3px solid black;
    font-weight: bolder;
    cursor: pointer;
}
